/* Reset default margin, padding, and box-sizing for all elements */
* {
    margin: 0; /* Removes default margin from all elements */
    padding: 0; /* Removes default padding from all elements */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

/* Body styling */
body {
    font-family: Libertinus Sans Static;
    background-color: #d9e2e8; /* Sets a light gray-blue background color for the page */
}

/* General styling for the container holding the cards */
.container {
    display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Aligns top of cards */
  flex-wrap: wrap; /* Keeps cards responsive */
  gap: 20px;
  margin-top: 40px;
}

/* Card styling */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    text-align: left;
    transition: all 0.4 ease;
    width: 350px;
    padding: 20px;
    position: relative;
}
.card:hover {
    transform: scale(1.1);
}

/* Styling for the card title (h2) */
.card h2 {
    color: #111111; /* Sets the text color to dark gray */
    font-size: 30px; /* Sets the font size of the title */
    margin-bottom: 20px; /* Adds space below the title */
}

/* Styling for the paragraph text inside the card */
.card p {
    color: #666; /* Sets the text color to medium gray */
    font-size: 17px; /* Sets the font size of the paragraph text */
    margin-bottom: 20px; /* Adds space below the paragraph text */
}

.button {
    background-color: #0ac10d; /* Sets the button's background color to a blue */
    border: none; /* Removes any border from the button */
    border-radius: 4px; /* Rounds the corners of the button */
    color: white; /* Sets the text color of the button to white */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    font-size: 15px; /* Sets the font size of the button text */
    padding: 8px; /* Adds padding inside the button (top/bottom: 10px, left/right: 20px) */
    text-decoration: none; /* Removes the underline from the link inside the button */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background color and size on hover */
}
.button:hover {
    background-color: #038e2a; 
    transform: scale(1.05); 
}
/* Styling for the link inside the button */
.button a {
    display: block; 
    color: white; 
    bottom: 15px;
    right: 15px;
}


.card:nth-child(2) .button {
    background-color: #446fde; 
}
.card:nth-child(2) .button:hover {
    background-color: #32538b; 
}
.card:nth-child(3) .button {
    background-color: #d832bf;
}
.card:nth-child(3) .button:hover {
    background-color: #900073; 
}
@media (max-width: 768px) {
    .container {    
        flex-direction: column;  
        align-items: center;
    }
    .card {  
        width: 100%;
    }
}