.my-image {
   max-width: 100%;
   height: 500px;
}
.btn {
transition: transform 0.3s ease;
}
.button:hover {
    background-color: #fff;
    color: #0064fa;
}
body {
    background-color: #edebeb;
}
h1 {
    font-size: 2rem;
}
p {
    color: #000;
    font-size: 1rem;
}
footer p {
    color: #fff;
}